<?xml version="1.0" encoding="utf-8" ?>
<!--
    For more information on settings please see the documentation:
    https://github.com/chchmatt/FluentEmailTemplates
-->
<configuration>
    <appSettings>
        <!-- Email address of sender for integration tests. -->
        <add key="FromEmailAddress" value="msearleTest@gmail.com" />
        <add key="FromDisplayName" value="Mailer" />

        <!-- Email address of recipient for integration tests. -->
        <add key="ToEmailAddress" value="msearle@gmail.com" />
        <add key="ToDisplayName" value="msearle@gmail.com" />

        <!-- The file path to the root of the email templates -->
        <add key="FluentEmailTemplatesFilePath" value="C:\Repos\FluentEmailTemplates\UnitTests\Files" />
    </appSettings>
    <system.net>
        <mailSettings>
            <smtp from="msearletest@gmail.com">
                <network host="smtp.gmail.com"
                    userName="msearletest@gmail.com"
                    password="something!!!Crazy!"
                    port="587"
                    enableSsl="true" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>